Repository pxs4528/darth-forge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, gofmt -w

fix containers
  compose.yaml
  frontend/Containerfile
Due: none

fix: update deploy.sh to use root build context for frontend
  .cicd/deploy.sh
Due: none

add stuff
  frontend/src/App.tsx
  frontend/src/components/About.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Experience.tsx
  frontend/src/components/Hero.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Projects.tsx
  frontend/src/components/Skills.tsx
  frontend/src/index.css
Due: eslint --fix, prettier --write

change to deployt
  .cicd/deploy.sh
Due: none

reduce deploy time
  .cicd/deploy.sh
  frontend/Containerfile
Due: none

changes
  .cicd/deploy.sh
  .dockerignore
  frontend/Containerfile
Due: none

CACHEBUST
  .cicd/deploy.sh
  frontend/Containerfile
Due: none

testing
  frontend/Containerfile
Due: none

chagnes
  frontend/Containerfile
Due: none

fix: use rootful podman consistently and correct Caddy image tag
  .cicd/deploy.sh
  frontend/Containerfile
Due: none

fix: add explicit image names to compose.yaml for rootful podman
  compose.yaml
Due: none

fix: revert to rootless podman due to ARM stability issues
  .cicd/deploy.sh
  compose.yaml
Due: none

migrate: switch from Podman to Docker for ARM stability
  .cicd/DOCKER_MIGRATION.md
  .cicd/cleanup-podman.sh
  .cicd/deploy.sh
  backend/Dockerfile
  compose.yaml
  frontend/Dockerfile
Due: none

fix: remove solid-devtools from production build
  frontend/src/index.tsx
Due: eslint --fix, prettier --write

fix: optimize Vite build for low-memory ARM devices
  frontend/Dockerfile
  frontend/vite.config.ts
Due: none

docs: add migration status and recovery guide
  .cicd/MIGRATION_STATUS.md
Due: none

add doc
  QUICK_START.md
Due: none

add css and redesign
  frontend/Caddyfile
  frontend/src/App.tsx
  frontend/src/components/About.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Experience.tsx
  frontend/src/components/Hero.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Projects.tsx
  frontend/src/components/Skills.tsx
  frontend/src/index.css
  frontend/vite.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix garbage claude code
  frontend/src/components/About.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Experience.tsx
  frontend/src/components/Hero.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Projects.tsx
  frontend/src/components/Skills.tsx
  frontend/src/index.css
  package-lock.json
Due: eslint --fix, prettier --write

add terminal
  frontend/src/App.tsx
  frontend/src/components/Hero.tsx
  frontend/src/components/Terminal.tsx
Due: eslint --fix, prettier --write

fix: configure ESLint, add tests, and fix Husky hooks
  .cicd/DOCKER_MIGRATION.md
  .cicd/MIGRATION_STATUS.md
  .husky/pre-push
  .lintstagedrc.json
  eslint.config.js
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/index.tsx
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

add telemetry
  DEPLOYMENT.md
  QUICK_START.md
  README.md
  backend/cmd/api/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/logs.go
  backend/internal/handlers/telemetry.go
  backend/internal/handlers/webhook.go
  backend/internal/logger/buffer.go
  backend/internal/logger/logger.go
  backend/internal/websocket/hub.go
  frontend/README.md
  frontend/src/App.tsx
  frontend/src/components/Hero.tsx
  frontend/src/components/LogViewer.tsx
  frontend/src/components/Logs.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/Terminal.tsx
  frontend/src/services/telemetry.ts
Due: eslint --fix, prettier --write, gofmt -w

content changes
  frontend/src/components/About.tsx
  frontend/src/components/Contact.tsx
  frontend/src/components/Hero.tsx
Due: eslint --fix, prettier --write

hero changes
  frontend/src/components/Hero.tsx
Due: eslint --fix, prettier --write

chore: update .gitignore to exclude env and compose override files
  .gitignore
Due: none

docs: add template files and setup guide for env and compose configs
  .env.example
  SETUP.md
  compose.override.yaml.example
  compose.prod.yaml.example
Due: none

fix tests
  frontend/src/services/__mocks__/telemetry.ts
  frontend/src/test/setup.ts
Due: eslint --fix, prettier --write

remove phone
  frontend/src/components/Contact.tsx
Due: eslint --fix, prettier --write

chore: remove unused Podman files, old LogViewer, and makefile
  .cicd/cleanup-podman.sh
  backend/.containerignore
  backend/Containerfile
  frontend/Containerfile
  frontend/src/components/LogViewer.tsx
  makefile
Due: eslint --fix, prettier --write

Delete SETUP.md
  SETUP.md
Due: none

add infosec projects
  compose.yaml
  frontend/Caddyfile
  frontend/src/App.tsx
  frontend/src/components/CryptoTools.tsx
  frontend/src/components/Navbar.tsx
  infosec-api/Dockerfile
  infosec-api/main.py
Due: eslint --fix, prettier --write

changes
  frontend/src/components/CryptoTools.tsx
Due: eslint --fix, prettier --write

uscis
  .claude/settings.local.json
  .env.example
  backend/cmd/api/main.go
  backend/internal/handlers/uscis.go
  backend/internal/services/uscis_poller.go
  frontend/src/App.tsx
  frontend/src/components/Terminal.tsx
  frontend/src/components/USCISAdmin.tsx
Due: eslint --fix, prettier --write, gofmt -w

update
  .claude/settings.local.json
  backend/internal/services/uscis_poller.go
  frontend/src/components/USCISAdmin.tsx
Due: eslint --fix, prettier --write, gofmt -w

update deploy
  .cicd/deploy.sh
Due: none

feat(budget): Turso-backed budget API behind admin auth
  .env.example
  backend/cmd/api/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/db/categories.go
  backend/internal/db/db.go
  backend/internal/db/store.go
  backend/internal/handlers/budget.go
  docs/budget.md
Due: gofmt -w

feat(budget): keyboard-first /budget page
  frontend/src/App.tsx
  frontend/src/budget/BudgetPage.tsx
  frontend/src/budget/Charts.tsx
  frontend/src/budget/Dashboard.tsx
  frontend/src/budget/EntryForm.tsx
  frontend/src/budget/Tracker.tsx
  frontend/src/budget/TxList.tsx
  frontend/src/budget/api.ts
  frontend/src/budget/export.ts
  frontend/src/budget/format.ts
  frontend/src/budget/store.ts
  frontend/src/components/Terminal.tsx
  frontend/src/lib/router.ts
  frontend/vite.config.ts
Due: eslint --fix, prettier --write

fix: clear lint, vet and typecheck debt
  backend/internal/handlers/logs.go
  eslint.config.js
  frontend/src/components/CryptoTools.tsx
  frontend/src/components/USCISAdmin.tsx
  frontend/src/test/setup.ts
Due: eslint --fix, prettier --write, gofmt -w

Path conditions:
  eslint --fix: any of: frontend/src/**/*.{ts,tsx}
  prettier --write: (any of: frontend/src/**/*.{ts,tsx}) or (any of: frontend/src/**/*.{json,md,css})
  gofmt -w: any of: backend/**/*.go
